<!DOCTYPE html>
<html>

<head>
  <title>Authorization </title>
  <link rel="icon" type="image/png"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/323px-Check_green_icon.svg.png" />
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>

  <div class="main">

    <h1>Login Page</h1>

    <form class="mainform">
      <input type="text" name="username" placeholder="username"><br><br>
      <input type="password" name="password" placeholder="password"><br><br>
      <button type="submit">Submit</button>
    </form><br><br>
    
    <div class="answ">
      
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
  <script src="./js/login.js"></script>

</body>

</html>